/* This is styling done to the whole container containig the input and button */
.input1 {
    display: flex;
    width: 90%;
    position: relative;
    align-items: center;
}
/* This is styling to the input field inside */
.input_box {
    width: 100%;
    border-radius: 20px;
    padding: 20px 30px;
    font-size: 25px;
    border: none;
    transition: 0.2s;
    box-shadow: inset 0 0 5px black;
}
/* this class is for the purpose that when we click on it the whole screen goes dark and only that is seen properly */
.input_box:focus{
    box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.1);
}

.input_submit {
    /* absolute position is given so that the button can appear inside the input box because it will be floating in the container no
    Makes the component out of the normal flow of the container no */
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 12px;
    border-radius: 20px;
    right: 0px;
    border:  none;
    font-size: 15px;
    background-color: cornflowerblue;
    color: aliceblue;
    transition: 0.2s all;
    box-shadow: 0 0 10px black;
}
/* Animation when we hover over it */
.input_submit:hover{
    background-color: goldenrod;
    border: 1.7px solid black;
    color: black;
    font-weight: bold;
    box-shadow: none;
    width: 52px;
    height: 52px;
}

/* Animation when we click over it */
.input_submit:active{
    transform: scale(0.8);
    background-color: goldenrod;
    border: 1.7px solid black;
    font-weight: bold;
    box-shadow: none;
}

.todos{
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    flex-wrap: wrap;
    /* border: 1px solid black; */
    
}

/* for the container of the todos (Saare todos ka basic look) */
.todos_single {
    display: flex;
    width: 29.5%;
    border-radius: 9px;
    padding: 20px;
    margin-top: 15px;
    background-color: goldenrod;
}

/* for the text written in each of the box */
.todos_single_text{
    /* here its gonna take all the space given in the box and push the other content to other side of the container. */
    flex: 1; 
    padding: 5px;
    border: none;
    font-size: 20px;
}

.icon {
    margin-left: 10px;
    font-size: 25px;
    cursor: pointer;
}

@media(max-width : 1200px){
    .todos_single{
        width: 40%;
    }
}

@media(max-width : 700px) {
    .input1{
        width: 95%;
    }
    .todos{
        width: 95%;
    }
    .todos_single{
        width: 100%;
    }
}

.todos_single_text:focus {
    outline : none;
}